In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Matplotlib is building the font cache; this may take a moment.

In [3]:
df = pd.read_csv("commodity_historical.csv")
df.head()

         date  Crude Oil Brent Price  Cocoa Price  Gold Price
0  1960-01-01                   1.63       0.6340       35.27
1  1960-02-01                   1.63       0.6080       35.27
2  1960-03-01                   1.63       0.5789       35.27
3  1960-04-01                   1.63       0.5983       35.27
4  1960-05-01                   1.63       0.6001       35.27